body{
    width: 100%;
    background: url(../img/fondo.png);
    font-family: 'Smooch Sans', sans-serif;
    height: 100%;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #c564f1;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background: rgb(86,9,111);
    background: linear-gradient(180deg, rgba(86,9,111,1) 0%, rgba(121,9,118,1) 35%, rgba(157,24,129,1) 100%);
}
.titulo{
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 24px;
    margin: 0 20px;
    font-weight: bold;
}
.logo{
    width: 95px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.encriptador{
    text-align: center;
    width: 60%;
    margin: 20px auto;
}
form label{
    color: #ffffff;
}
.caja-texto{
    width: 120px;
    height: 25px;
    border-radius: 35px;
    padding: 0 10px;
}
.caja-mensaje{
    width: 260px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    font-weight: 200;
    text-align: center;
    border: 2px solid #c564f1;
    padding: 7px;
    border-radius: 10px;
    background-color: #933ecc;
    color: #ffffff;
}
.botones{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.boton-submit{
    height: 30px;
    color: #ffffff;
    background-color: #933ecc;
    border: 1px solid #c564f1;
    border-radius: 35px;
    margin: 0 10px;
}

/*  CONTACTO */
.contacto{
    width: 50%;
    font-size: 25px; 
    font-weight: 400; 
    padding: 20px;
    color: #ffffff; 
    background:#933ecc; 
    border: 2px solid #c564f1;
    overflow: hidden;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    height: 105px;
    text-align: center;
    margin: 20px;
}
.redes-sociales{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes-sociales a{
    text-align: center;
    vertical-align: center;
}
.img-social{
    width: 15%;
}

/* FOOTER */
.caja-pie-pagina{
    color: #ffffff;
    position: relative;bottom: 0%;
    font-size: 18px;
    text-align: center;
    margin: 20px auto 0 auto;
    width: 40%;
    height: max-content;
    background-color: #1b0b49;
    border-radius: 95px 95px 0px 0px;
    overflow-x: auto;
}
.pie-pagina{
    margin: 2% auto;
}

@media (max-width: 768px) {
    .encriptador{
        display: flex;
        flex-direction: column;
    }
    .caja-texto{
        height: 30px;
        border-radius: 35px;
    }
    .contacto{
        width: 80%;
    }
    .botones{
        width: 100%
    };
    .boton-submit{
        font-size: 12px;
        width: 20%;
    }
    .img-social{
        width: 20%;
    }
    .caja-pie-pagina{
        width: 100%;
    }
}

@media (max-width: 480px){
    header{
        justify-content: space-around;
    }
    .encriptador{
        width: 100%;
        margin-bottom: 0;
    }
    .logo{
        width: 20%;
    }
    .titulo{
        width: 60%;
        margin: 0;
    }
    .botones{
        width: 100%;
        flex-direction: row;
    }
    .boton-submit{
        font-size: 11px;
        margin: 0;
        width: 30%;
    }
    .alura-challenge{
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imagen-ONE-challenge{
        width: 50%;
    }
    .contacto{
        margin: 0 auto;
        font-size: 24px;
        flex-wrap: wrap;
        grid-row: 2;
    }
    .redes-sociales a{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .redes-sociales:hover{
        text-decoration: underline;
    }
    .img-social{
        justify-content: center;
        align-items: center;
        margin: 2px auto;
        display: block;
        width: 30%;
    }
    .caja-pie-pagina{
        width: 100%;
        position:absolute;
    }
}