body{
    width: 1900px;
    background: url(../img/fondo.png);
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #c564f1;
}
.title{
    text-align: center;
    width: 100%;
    height: 120px;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 24px;
    background-color: #933ecc;
    color: #ffffff;
}
.title img{
    margin-right: 20px;
    vertical-align: -30px;
    width: 95px;
}
.ingreso-mensaje{
    color: #ffffff;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: bold;
    margin: 30px auto;
    text-align: center;
}
.caja-texto{
    text-align: center;
    border: 2px solid #c564f1;
    padding: 7px 7px 7px 7px;
    border-radius: 35px 35px 35px 35px;
}
.botones{
    text-align: center;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: bold;
    margin: 20px auto;
}
.boton-accion{
    margin: 0 10px;
    color: #ffffff; 
    padding: 7px 7px 7px 7px;
    overflow: hidden;
    border-radius: 35px 35px 35px 35px;
    background-color: #933ecc;
    border: 2px solid #c564f1;
    box-shadow: white;
}
.caja{
    width: 35%;
    text-align: center;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: bold;
    margin: 10px auto;
}
.caja-mensaje{
    font-size: 24px; 
    font-weight: 400; 
    padding: 20px 20px 20px 20px;
    margin: 0 0 25px;
    color: #ffffff; 
    background:#933ecc; 
    border: 2px solid #c564f1;
    overflow: hidden;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    height: 25px;
}
.caja-botones2{
    width: 25%;
    text-align:right;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: bold;
    margin: 0 auto;
}
.cuerpo{
    text-align: center;
    margin: 0 auto;
}
.contacto{
    width: 40.7%;
    font-size: 18px; 
    font-weight: 400; 
    padding: 20px 20px 20px 20px;
    margin: 0 auto;
    color: #ffffff; 
    background:#933ecc; 
    border: 2px solid #c564f1;
    overflow: hidden;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    height: 4%;
}
.redes-sociales{
    text-align: center;
    margin-bottom: 3%;
}
.redes-sociales p{
    margin-bottom: 5%;
    font-size: 24px;
}
.img-social{
    vertical-align: calc(0% - 15px);
    width: 5%;
}
.caja-pie-pagina{
    color: #ffffff;
    position: relative;bottom: 0%;
    font-size: 18px;
    text-align: center;
    margin: 20px auto 0 auto;
    width: 40%;
    height: max-content;
    background-color: #1b0b49;
    border-radius: 95px 95px 0px 0px;
    overflow-x: auto;
}
.pie-pagina{
    margin: 2% auto;
}